@import 'mixins';
// @import 'lcfa-site/normalize';
// @import 'lcfa-site/variables';
// @import 'lcfa-site/colors';
// @import 'lcfa-site/site-footer';
// @import 'lcfa-site/forms';
@import 'base';
@import 'footer';
@import 'form-elements';
// @import 'original-inline-2020-year-end-giving';
@import 'custom-css';
.background-blue {
	background-color: #0479bb;
}
.background-green {
	background-color: #a6c75f;
}
body {
	background-size: cover;
	margin: 0%;
}
.background-image-bubble-ribbons {
	background-image: url('https://d2r0txsugik6oi.cloudfront.net/neon/resource/lcfamerica/templateImage/footerBackgroundImage_61.png?forwardedFromSecureDomain=1&r=25008611172196628');
}
.background-image-chiclets {
	background-image: url('https://d2r0txsugik6oi.cloudfront.net/neon/resource/lcfamerica/images/Blue-chicklet-full-screen.png');
}
.text-white {
	color: #fff;
	* {
		color: inherit;
	}
}
header.lcfa-header {
	display: flex;
	justify-content: center;
	padding: 20px;
}
.wrapper {
	max-width: initial;
}
.content {
	outline: 1px solid white;
	background-color: #fff;
	margin: 40px 1% 80px;
	padding: 40px 40px 80px;
	max-width: 1000px;
	border-radius: 20px;
	box-sizing: border-box;
	h1 {
		margin-top: 0;
	}
	@include bp($lg) {
		margin-left: auto;
		margin-right: auto;
	}
}

footer.lcfa-footer {
	padding: 40px 40px 60px;
	display: flex;
	* {
		margin: 0;
	}
	.column {
		outline: 1px solid white;
	}
}
